html {
    height: 100%;
    width: 100%;
    background-color: black;
  }
  
  /* body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding-left: 4em;
    
  } */

  h1, h2, p{
    color: azure;
  }


header{
    display: flex;
    justify-content: space-between;
    padding-left: 15em;
    padding-right: 15em;
    overflow: hidden;
    padding-top: 2em;
}
.nav-bar{
    display: flex;
    gap: 1.8em;
}
.body{
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 6em;
    overflow: hidden;
}
img{
    width: 3em;
    height: 3.2em;
}
nav img{
    width: 1.8em;
    height: 2em;
   
}


.hero img{
    width: 15em;
    height: 23em;
    border-radius: 2em;
    border-color: rgb(239,199,94);
    border-style: double;
}

/* Defineing the animation */
@keyframes pop-up {
    0% {opacity: 0; visibility: hidden;}
    100% {opacity: 1; visibility: visible;}
    }
  
  /* Applying the animation to the text */
  .pop-up-text {
    animation-name: pop-up;
    animation-duration: 10s;
   }

.pop-up-text{
    text-align: center;
    font-size: 50px;
}
#typewriter{
    text-align: center;
    font-size: 25px;
    color: rgb(239,199,94);
}

.hero{
    padding-top: 1em;
    display: flex;
    gap: 3em;
    padding-bottom: 3em;
}
.hero-text p{
    font-size: 20px;
    font-weight: -20px;
    line-height: 30px;
    letter-spacing: 0.6px;
    width: 520px
}
.proj-text h1{
    font-size: 30px;
}